h1 {
   text-align: center;
   font-family: "Patua one", serif;
   font-size: 45px;
}

body {
   background-color: rgb(128, 102, 255);
   padding: 10px;
}

* {
   font-size: 18px;
   font-family: "Roboto Slab", sans-serif;
}
