h1 {
   text-align: center;
   font-family: "Patua one", serif;
   font-size: 45px;
}

body {
   background-color: rgb(230, 200, 255);
   padding: 10px;
}

* {
   font-size: 18px;
   font-family: "Roboto Slab", sans-serif;
}

hr {
   border: 4px #352873 solid;
   border-radius: 2px;
}

footer {
   bottom: 10px;
   font-variant-caps: all-small-caps;
}
