@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');


h1 {
   text-align: center;
   font-family: "Patua one", Verdana;
   font-size: 45px;
}
body {
   font-size: 14px;
   background-color: rgb(128, 102, 255);
}
